<html>
<head>
	<title>Dinner and a...</title>
</head>
<body class="text-center">
<h1>dinner and a...</h1>
<h2>Plan your night like a boss</h2>

<form method="post" action="/sessions" role="form">
      <input type="text" placeholder="Email" name="email" required="" autofocus="">
      <br>
      <input type="password" placeholder="Password" name="password" required="">
      <br>
      <button class="signin btn btn-lrg btn-primary btn-block narrow text-center" type="submit">Sign in, yo!</button>
   	  <br>
</form>
Ain't a member yet?<br>
<a href='/users/new'>
	Sign up hurr.
</a>




<h6>"Dinner and a" is a web application developed by Vikash "Boom-Boom" Parekh for the Web Development Immersive program at General Assembly SF blahblahblah using HTML and JavaScript.
<br>Dedicated to my homies(homeys?) Dennis, Cho, Colt, and Brian.
</h6>
</body>
</html>