<html>
<head>
	<title></title>
</head>
<body>
<h1>Welcome, <%= user.name %>!<h1>
	
		<h2>Step 1: Where you at?</h2>
	<form method="GET" action="/results">
		<input type="text" name="zip" placeholder="Zip code">
	
		<h2>Step 2: How much coin do you want to drop?</h2>
		<input type="text" name="price" placeholder="On a scale of 0-4">	
		<input type="submit">
	</form>
	<a href="users/<%= user.id%>/edit">Edit profile</a>
	<br>

</body>
</html>