<html>
<head>
	<title>RESULTS</title>
</head>
<body>
<ul>
	<li><%= restaurant.name %> </li>	

<button class = "bton-hot"> <a href="http://local:7000"> Search Page </a> </button>

</ul>
</body>
</html>