<html>
<head>
	<title>This is where you sign up</title>
</head>
<body>
	<form method="POST" action="/people">		
		<!-- method is a route and action is where it goes to. POST creates a new method -->
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="phone" placeholder="Phone">
		<input type="text" name="email" placeholder="Email">
		<input type="submit">
	</form>


</body>
</html>