<html>
<head>
	<title>This is where you sign up</title>
</head>
<body>
	<h1>OH HAI. This is where you sign up</h1>
	<form method="POST" action="/users">		
		<!-- method is a route and action is where it goes to. -->
		<p><input type="text" name="username" placeholder="Name"></p>
		<p><input type="text" name="email" placeholder="Email"></p>
		<p><input type="password" name="password" placeholder="Password"></p>
		<input type="submit">
	</form>


</body>
</html>